/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#header, #openBtn {
	-fx-background-color: #663cb2;
	-fx-text-fill: #FFFFFF;
}

#editBtn {
	-fx-background-color: #fdd655;
}

#deleteBtn{
	-fx-background-color: #ef403e;
	-fx-text-fill: #FFFFFF;	
}

MFXButton {
	-fx-font-family: "Book Antiqua";
}
